.vscode/**
.vscode-test/**
src/**
.gitignore
.env
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
assets/demo.gif
node_modules/**
out/*.map
*.vsix
build-vsix.bat
install-vsix.bat
eslint.config.mjs
package-lock.json
package.json.bak
.github/**
.prettierignore
.vscode-test.mjs
